
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section FootScripts
{
    <script src="~/Scripts/app/pages/tasks/tasks.module.js"></script>
    <script src="~/Scripts/app/pages/tasks/tasks.controller.js"></script>
    <script src="~/Scripts/app/pages/tasks/tasks.service.js"></script>
}

<section ng-app="tasksModule">

    <h2>Tasks</h2>


    <div ng-controller="TasksController as c">
        <div>
            <input type="text" ng-model="c.newTaskTitle" placeholder="Enter a new task" />
            <button ng-click="c.onAddNewTask()" ng-disabled="!c.isNewTaskTitleValid()">Add</button>
        </div>
        <div>Tasks number: {{ c.tasks.length }}</div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Done</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="task in c.tasks">
                        <td>{{ task.Id }}</td>
                        <td>{{ task.Title }}</td>
                        <td>
                            <input type="checkbox" ng-model="task.Done" ng-click="c.onDoneChanged(task)" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</section>
